@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: manrope;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
:root {
  --white: #ffff;
  --grey: #f7f9f4;
  --black-font: rgb(0, 0, 0, 1);
  --grey-font: rgba(0, 0, 0, 0.7);
  --button: rgba(250, 183, 58, 1);
  --green: rgba(78, 115, 2, 1);
}
.main {
  display: grid;
  grid-template-rows: 245px 320px repeat(3, 1289px) 472px;
}

.top-nav {
  background-color: green;
}

.topnav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav .top-right {
  display: flex;
  gap: 20px;
}
.fa-brands {
  color: #ffff;
  font-size: 20px;
  gap: 25px;
}
.left {
  display: flex;
  color: #ffff;
  gap: 25px;
}
.fa-solid {
  color: #ffff;
  font-size: 15px;
}

.midnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.12rem;
}
.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.register > div {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.register .fa-solid {
  color: var(--green);
  font-size: 20px;
  padding: 16.5px;
  background-color: #f2f4ef;
  border-radius: 50%;
}
.register .fa-magnifying-glass {
  font-size: 19.5px;
  padding: 16.25px;
  background-color: var(--button);
  color: black;
  border-radius: 50%;
  text-align: center;
}

.b-text {
  font-size: 0.87rem;
  color: black;
  font-weight: 700;
}
.sm-text {
  font-size: 0.87rem;
  color: black;
}
.register .left {
  gap: 12px;
}

.right {
  display: flex;
  gap: 12px;
}
.right img {
  height: 49px;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}
.bottom-left {
  display: flex;
  list-style: none;
  gap: 56px;
}
.bottom-left a {
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
}
.bottom-right {
  font-size: 1.125rem;
  color: black;
}
.bottom-right .fa-solid {
  color: black;
  font-size: 21px;
}

.feature {
  background-color: rgba(239, 235, 206, 1);
  display: flex;
  align-items: center;
}
h4 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 67.2px;
}
.feature p {
  font-size: 1.25rem;
  line-height: 34px;
}

.box-6 {
  background-color: rgba(247, 249, 244, 1);
}

.image-text {
  height: 251px;
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-text p {
  font-size: 1.25rem;
  line-height: 30px;
  padding-top: 16px;
}
.image-container {
  height: 1092px;
  padding-top: 56px;
  padding-bottom: 176px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 370px);
  grid-gap: 120px 30px;
}
.cards {
  background-color: #f5f7ed;
  text-align: center;
  position: relative;
}
.active-card::before {
  content: "View";
  color: black;
  position: absolute;

  top: 180px;
  left: 165px;
  padding: 9px;
  border-radius: 16px;
  background-color: var(--white);
  font-size: 1rem;
  font-family: roboto;
  font-weight: 500;
}
.tag {
  display: flex;
  justify-content: space-between;
}

.sale {
  padding: 4px 12px;
  background-color: rgba(248, 77, 77, 1);
  border-radius: 50px;
  margin-top: 16px;
  margin-right: 16px;
  color: #ffff;
}

.tag .fa-solid {
  color: rgb(68, 67, 67);
  font-size: 18px;
  margin-top: 16px;
  margin-left: 16px;
}
.tag .active {
  color: red;
}
.cards img {
  height: 270px;
  width: 251px;
  border-radius: 16px;
}

.cards .text {
  display: flex;
  flex-direction: column;
  width: 338px;
  height: 139px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(243, 243, 243, 1);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  gap: 9.5px;
  bottom: 20px;
  position: relative;
}
.cards .sm-text {
  font-size: 0.87rem;
  font-weight: 400;
  font-family: roboto;
}
.name {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: manrope;
}
.price {
  font-family: manrope;
}
.mrp {
  font-size: 1rem;
  font-weight: 400;
}
.discount {
  color: var(--green);
  font-size: 1.125rem;
  font-weight: 700;
}
.price .fa-solid {
  font-size: 17px;
  margin-left: 135px;
  padding: 18px;
  color: black;
  border-radius: 50%;
}
.price .active {
  background-color: var(--green);
  color: var(--white);
}
.box-4 {
  background-color: rgba(247, 249, 244, 1);
}


.row{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  height: 383px;
  align-items: center;
  /* align-items:flex-start; */


}
.row h4{
  font-size: 1.125rem;
  font-weight: 700;
}
.footer-logo p{
  width: 370px;
}

.row ul{
  list-style: none;
  line-height: 37px;
}

.social .fa-brands{
  /* margin-top: 16px; */
  color: black;
  margin-right: 21px;

}
.footer-copyright{
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}







