$header-font:3.75rem; //60px
$header3-font:2.815rem; //45px
$para-font:1.375rem; //22px
$medium-font:1.5rem; //24px

$p-font:1.375rem; //20px
$link-font:1.125rem; //18px







// color 
$btn:#EC8E00;
$background:#F7FBFF;
$primary-grey:#676A8A ;
$primary-white:#F7FBFF;
$heading-color:rgba(11, 26, 71, 1);
$blue-grdient: linear-gradient(180deg, #89A7FF 0%, #476FE4 100%);
$green:rgba(14, 182, 84, 1);
